<ion-popover-view>

    <ion-content>
        <ul class="list">
            <li class="item">
                <button class="button button-clear button-dark" ng-click="addFavorite({{dish.id}})">
                    Add to Favorites
                </button>
            </li>

            <li class="item">
                <button class="button button-clear button-dark" ng-click="comment()" >
                    Add Comment
                </button>
            </li>
        </ul>


    </ion-content>
  </ion-popover-view>