<ion-view view-title="Profile">

  <ion-content>


    <div class="list card">

  <div class="item item-avatar">
    <img src="mcfly.jpg">
    <h2>Marty McFly</h2>
    <p>November 05, 1955</p>
  </div>

  <div class="item item-body">
    <p>Addres:</p>
    <p>Telephone:</p>
    <p>Email:</p>

    <div class="button-bar">
      <a menu-close ng-click="login()" class="button button-positive"> <i class="icon ion-edit"></i>Change Personal Info</a>
    </div>

  </div>

</div>

  </ion-content>

</ion-view>
